body {
    font-size: 20px;
}


.blue {
    background-color: #2c3e50;
    color: white;
}

.light-blue {
    background-color: #3a546d;
}

.aqua{
    background-color:#1abc9c;
}

.my-font-white{
    color:white;
}


.avatar {
    width: 200px;
}

.no-outline {
    outline: white;
}

.aqua-btn {
    background-color: #1abc9c;
    color: white;
    border:#1abc9c;
}

.aqua-btn:hover {
    background-color: white;
    color: #1abc9c;
    border: #1abc9c;
}

/* SEZIONE DIVISORI */

.fa-star {
    font-size: 22px;
    padding: 0 10px;
}

.divisore,
.divisore-black {
    position: relative;
    text-align: center;
    width: 30%;
  }
  
  .divisore i,
  .divisore-black i {
    display: inline-block;
    position: relative;
    padding: 0 5px; 
  }
  
  .divisore::before,
  .divisore::after,
  .divisore-black::before,
  .divisore-black::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: calc(50% - 30px);
    min-width: 40px;
    border-radius: 2px;
  }
  
  .divisore::before,
  .divisore-black::before {
    left: 0;
  }
  
  .divisore::after,
  .divisore-black::after {
    right: 0;
  }

  .divisore::before,
  .divisore::after {
    background-color: white;
  }

  .divisore-black::before,
  .divisore-black::after {
    background-color: black;
  }

